@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
}

.input {
  @apply w-full border rounded px-3 py-2 bg-white;
}

.btn {
  @apply bg-blue-600 text-white px-3 py-2 rounded;
}
